{% extends 'base.html' %}
{% block title %}امیرحسین نعیمائی | پروژه‌ها{% endblock %}
{% block meta_description %}لیست پروژه‌های انجام‌شده در حوزه طراحی وب، نرم‌افزار و سیستم‌های هوشمند.{% endblock %}

{% block og_title %}پروژه‌ها{% endblock %}
{% block og_desc %}مشاهده پروژه‌های طراحی وب و نرم‌افزار انجام‌شده توسط من.{% endblock %}

{% block tw_title %}پروژه‌ها{% endblock %}
{% block tw_desc %}مشاهده پروژه‌های طراحی وب و نرم‌افزار انجام‌شده توسط من.{% endblock %}

{% block content %}
<h1 style="font-size: 28px;">{{ t.MENU_PROJECTS }}</h1>
<h2>{{ t.PAGE_PROJECTS_SUBTITLE }}</h2>
<div class="row row-cols-1 row-cols-md-2 g-4" data-aos="fade-up">
    {% for project in projects %}

<div class="project-card">

    <h3>
        {{ project.title }}
    </h3>

    <p>
        {{ project.description }}
    </p>

    {% if project.technologies %}

    <div class="technologies">

        {% for technology in project.technologies %}

        <span class="technology">
            {{ technology }}
        </span>

        {% endfor %}

    </div>

    {% endif %}

    {% if project.github and project.github != "#" %}

    <a
        href="{{ project.github }}"
        target="_blank"
        rel="noopener noreferrer">

        GitHub

    </a>

    {% endif %}

</div>

{% else %}

<p>
    No projects available.
</p>

{% endfor %}
</div>
{% endblock %}